<head>
       
	
        <meta charset="UTF-8" />
        <title>{% block title %}RUFFE CARD{% endblock %}</title>
     
        <link rel="icon" type="image/x-icon" href="{{ asset('images/Favicon.ico') }}" />
        <link href="{{asset('http://fonts.googleapis.com/css?family=Lovers+Quarrel|New+Rocker|Calligraffitti|Tangerine:400,700|Great+Vibes|Merienda+One|Playball|Arizonia|Herr+Von+Muellerhoff|Italianno|Akronim')}}" rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Brawler|Rosarivo|Eagle+Lake' rel='stylesheet' type='text/css'>
  
	<!-- Meta -->
	        
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="title" content="Ruffe CArd" />
        <meta name="description" content="application de gestion de la carte ruffe card />
        <meta name="keywords" content="ruffe card, réduction, guadeloupe, promotion" />
        <meta charset="utf-8">      
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
       
	<!-- Fin  -->       
       
    <!-- Style -->
    	
{#     		<link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">#}
{# 	        <link href="{{asset('css/bootstrap-responsive.min.css')}}" rel="stylesheet">#}
{# 	        <link href="{{asset('css/theme.min.css')}}" rel="stylesheet">#}
	        <link href="{{asset('css/style.css')}}" rel="stylesheet">
      
{#         {% block stylesheets %}#}
{# 	        <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">#}
{# 	        <link href="{{asset('css/bootstrap-responsive.min.css')}}" rel="stylesheet">#}
{# 	        <link href="{{asset('css/theme.min.css')}}" rel="stylesheet">#}
{# 	        <link href="{{asset('css/style.css')}}" rel="stylesheet">#}
{#         {% endblock %}#}
    	 
    	 
    	 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    	 
    	 
    <!-- Fin  -->
    
    <!-- FONTS -->
    
    	 <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css' />
    	 <link href='http://fonts.googleapis.com/css?family=New+Rocker|Calligraffitti|Nothing+You+Could+Do|Playball' rel='stylesheet' type='text/css'>
    	     
    <!-- Fin  -->  
    
    <!-- Glyphon icone  -->
    
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        
    <!-- Fin  -->
        
    <!-- Favicon -->
    
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="icon" href="images/favicon.ico" />
    
    <!-- Fin -->
    
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <link rel="apple-touch-icon" href="{{asset('/bootstrap/img/apple-touch-icon.png')}}">
        <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">
		
	<!-- Script -->
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
{# 		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>#}
{#         <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
{# 		<script src="{{asset('js/bootstrap.min.js')}}"></script>#}
		
        <!-- JavaScript jQuery code from Bootply.com editor -->
        <script type='text/javascript'>
        
	        $(document).ready(function() {
	        
	                    
	        });
	
	      	$(function (){
	        	    $('.carousel').carousel({
	        	    interval: 3000  
	        	    });
	        	    $("#pause").click(function() {
	        	    $('.carousel').carousel('pause');
	        	    $('.label').text('Mode pause').removeClass("label-info").addClass("label-warning");
	        	    }); 
	        	    $("#reprise").click(function() {
	        	    $('.carousel').carousel('cycle');
	        	    $('.label').text('Mode cycle').removeClass("label-warning").addClass("label-info");
	        	    });
	        	}); 


	    
        </script>
        
    <!-- Fin -->
    
</head>